@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection { /* Code for Firefox */
  color: white;
  background: purple;
}

::selection {
  color: white;
  background: purple;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  overflow-y: hidden;
  @apply bg-white dark:bg-site;
}

.min-w-large {
  min-width: 992px !important;
}

.root-text {
  font-size: 1rem;
}

.dm-serif {
  font-family: 'DM Serif Display', serif;
}

.dm-mono {
  font-family: 'DM Mono', monospace;
}

.d-header {
  --tw-bg-opacity: 0.8;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-header {
  --tw-bg-opacity: 0.8;
  background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-menu {
  --tw-bg-opacity: 0.7;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-menu {
  --tw-bg-opacity: 0.85;
  background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-body-bg {
  --tw-bg-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.dark .d-body-bg {
  --tw-bg-opacity: 1;
  background-color: rgba(0,30,38,var(--tw-bg-opacity));
}

.d-body-text-color {
  --tw-text-opacity: 1;
  color: rgba(0,53,67,var(--tw-text-opacity));
}

.dark .d-body-text-color {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
}

.d-scrollbar {
  --scrollbar-thumb: #e4e4e7;
}

.dark .d-scrollbar {
  --scrollbar-thumb: #255461;
}

.title {
  @apply text-site dark:text-white text-2xl md:text-4xl font-semibold;
}

.heading {
  @apply text-site dark:text-white text-xl md:text-2xl font-semibold pt-8;
}

.subheading {
  @apply text-site dark:text-white text-lg md:text-xl font-semibold pt-8;
}

.paragraph {
  @apply text-siteLite dark:text-gray-50 text-base md:text-lg pt-2;
}

.filename {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  @apply bg-codeLite dark:bg-siteLite px-2 py-1 rounded-md text-siteLite dark:text-gray-50 text-sm md:text-base mt-4 inline-block;
}

.output {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  @apply bg-codeLite dark:bg-siteLite px-2 py-1 rounded-md text-siteLite dark:text-gray-50 text-sm md:text-base mt-4 inline-block;
}

.caption {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  @apply bg-codeLite dark:bg-siteLite px-2 py-1 rounded-md text-siteLite dark:text-gray-50 text-sm md:text-base mt-4 inline-block text-center;
}

ul, ol {
  @apply text-siteLite dark:text-gray-50 text-base md:text-lg pt-2;
}

li {
  @apply px-4;
}

li.tick::before {
  content: '✓';
  @apply mr-2;
}

li.cross::before {
  content: '⨯';
  @apply mr-2;
}

a.url {
  @apply hover:text-gem;
}

.center {
  @apply text-center;
}

.disc {
  @apply list-disc;
}

.numbers {
  @apply list-decimal;
}

.inside {
  @apply list-inside;
}

.outside {
  @apply list-outside;
}

.quote {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  border-radius: 0.3em;
  @apply mt-4 p-4 text-base md:text-lg bg-codeLite dark:bg-siteLite;
}

.caution::before {
  content: 'CAUTION';
  display: block;
  @apply text-xs font-semibold;
}

.caution {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  border-radius: 0.3em;
  @apply mt-4 p-4 text-xs md:text-sm font-medium text-yellow-700 dark:text-yellow-600 bg-yellow-100 dark:bg-yellow-900 dark:bg-opacity-50;
}

.warning::before {
  content: 'WARNING';
  display: block;
  @apply text-xs font-semibold;
}

.warning {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  border-radius: 0.3em;
  @apply mt-4 p-4 text-xs md:text-sm font-medium text-red-700 dark:text-red-600 bg-red-100 dark:bg-red-900 dark:bg-opacity-50;
}

.success::before {
  content: 'SUCCESS';
  display: block;
  @apply text-xs font-semibold;
}

.success {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  border-radius: 0.3em;
  @apply mt-4 p-4 text-xs md:text-sm font-medium text-green-700 dark:text-green-600 bg-green-100 dark:bg-green-900 dark:bg-opacity-50;
}

.note::before {
  content: 'NOTE';
  display: block;
  @apply text-xs font-semibold;
}

.note {
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  border-radius: 0.3em;
  @apply mt-4 p-4 text-xs md:text-sm font-medium text-gray-700 dark:text-gray-400 bg-gray-100 dark:bg-gray-700 dark:bg-opacity-50;
}

.strike {
  @apply line-through;
}

table {
  @apply table-fixed w-full overflow-x-auto px-4 md:px-6 lg:px-8 mt-4;
}

tr, th, td {
  @apply text-center border-collapse border-b border-gem px-4 py-2 hover:bg-green-100 dark:hover:bg-green-900 text-base md:text-lg;
}

th {
  @apply font-semibold text-gem dark:text-green-500;
}

.margin-small {
  @apply my-4;
}

.margin-medium {
  @apply my-8;
}

.margin-large {
  @apply my-16;
}

.margin-top-small {
  @apply mt-4;
}

.margin-top-medium {
  @apply mt-8;
}

.margin-top-large {
  @apply mt-16;
}

.margin-bottom-small {
  @apply mb-4;
}

.margin-bottom-medium {
  @apply mb-8;
}

.margin-bottom-large {
  @apply mb-16;
}

.h-center {
  @apply mx-auto;
}

code {
  font-family: 'DM Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: 500;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  @apply text-sm md:text-base;
}

.light pre[class*="language-"] {
  background-color: #fbfbfd;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  @apply text-sm md:text-base;
}

.dark pre[class*="language-"] {
  background-color: #003543;
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
  @apply text-sm md:text-base;
}
